[user]
	name = Erwin de Keijzer
	email = erwin@dekeijzer.xyz

[pager]
    diff = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[init]
	defaultBranch = main

[ghq]
  root = ~/code/src/
