
export PATH="$HOME/bin:$PATH"

alias vi=~/.local/bin/lvim
alias vim=~/.local/bin/lvim
alias s="tmux attach -d || tmux"
alias k=kubectl
alias kctx=kubectx
alias kns=kubens
alias tf=terraform
alias x="exa --long --classify --icons --no-user --no-permissions"

alias agedec="age --decrypt -i ~/.agekey"

# Download Znap, if it's not there yet.
[[ -f ~/Git/zsh-snap/znap.zsh ]] ||
    git clone https://github.com/marlonrichert/zsh-snap.git ~/Git/zsh-snap

func ccd () {
  cd
  f=$(fd --type d --hidden | fzf --no-mouse)
  if [[ -z $f ]]; then
    return
  fi

  cd "$f"
}


source ~/Git/zsh-snap/znap.zsh  # Start Znap
export EDITOR=/Users/erwindekeijzer/.local/bin/lvim

# `znap prompt` makes your prompt visible in less than 12ms!
# znap prompt sindresorhus/pure

# `znap source` automatically downloads and activates your plugins.
#znap source marlonrichert/zsh-autocomplete
znap source zsh-users/zsh-autosuggestions
znap source zsh-users/zsh-syntax-highlighting

autoload -U compinit
compinit -i

eval "$(starship init zsh)"

{{ if eq .chezmoi.os "darwin" -}}
# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/erwindekeijzer/google-cloud-sdk/path.zsh.inc' ]; then . '/Users/erwindekeijzer/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/Users/erwindekeijzer/google-cloud-sdk/completion.zsh.inc' ]; then . '/Users/erwindekeijzer/google-cloud-sdk/completion.zsh.inc'; fi

alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
export GOPATH="$HOME/go"; export GOROOT="$HOME/.go"; export PATH="$GOPATH/bin:$PATH"; # g-install: do NOT edit, see https://github.com/stefanmaric/g
export PATH="/Users/erwindekeijzer/code/src/github.com/gnur/scripts:$PATH"
{{ end -}}

bindkey -e
eval "$(direnv hook zsh)"
